<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg">
    <div id="wrapper">

    <div class="slide" id="trend">
      <div class="chatter">Annual <span class="legendary color-bg-red-dark">SNAP funding</span> has decreased.</div>
      <div id="chartTrend" class="chart"></div>
      <div class="byline">Data source: Minnesota Department of Agriculture, SNAP, USDA | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div class="slide" id="nb">
      <div class="chatter">Farmers markets that <span class="legendary color-bg-red-dark">accept SNAP</span> tend to be in poorer areas than those <span class="legendary color-bg-gray-medium">without SNAP available</span>.</div>
      <div id="map" class="map"></div>
      <div class="byline">Data source: Minnesota Department of Agriculture, SNAP, USDA | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>
  </div>
  </div>
</main>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
